<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sotnikova Design Group | Дизайн интерьера в Черкассах</title>
    <meta content="width=device-width, maximum-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="/img/favicon.jpg">
    <link href="http://deem.com.ua/" rel="canonical">
    <meta content="index,follow" name="robots">

    <meta content="Наша студия реализовала десятки проектов в Черкассах и по Украине. Работаем как с небольшими индивидуальными заказами, так и с большими компаниями." name="description">
    <meta content="Sotnikova Design Group" name="copyright">
    <meta content="Sotnikova Design Group" name="author">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@Sotnikova" name="twitter:site">
    <meta content="http://deem.com.ua/" name="twitter:url">
    <meta content="Sotnikova Design Group" name="twitter:title">
    <meta content="Наша студия реализовала десятки проектов в Черкассах и по Украине. Работаем как с небольшими индивидуальными заказами, так и с большими компаниями." name="twitter:description">
    <meta content="/img/homepage_bg.jpg" name="twitter:image">
    <meta content="https://www.facebook.com/" property="article:author">

    <meta content="http://deem.com.ua/" property="og:url">
    <meta content="article" property="og:type">
    <meta content="Sotnikova Design Group" property="og:title">
    <meta content="Наша студия реализовала десятки проектов в Черкассах и по Украине. Работаем как с небольшими индивидуальными заказами, так и с большими компаниями.." property="og:description">
    <meta content="/img/homepage_bg.jpg" property="og:image">

    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
</head>
<body class="carpenter-site-main">
<header class="container flex flex-c header">
    <a href="/" class="logo">Мастерская природы</a>
    <nav>
        <a href="/public/view/carpenter/index.html">Главная</a>
        <a href="/public/view/carpenter/about.html" class="active">О нас</a>
        <a href="/public/view/carpenter/items.html">Цех истории</a>
        <a href="/public/view/carpenter/partners.html">Партнеры</a>
        <a href="/public/view/carpenter/galery.html">Гелерея</a>
        <a href="/public/view/carpenter/contacts.html" class="decor decor--link contacts">Контакты</a>
    </nav>
</header>
<main class="flex flex-c">
    <div class="tab-container">
        <h1 class="heading heading--margin decor decor--heading">Свяжитесь с нами!</h1>
        <div class="flex scroll-part">
            <address class="xs-33 left-column">
                <div class="section">
                    <h2 class="sm-title">По телефону</h2>
                    <h3 class="subtitle">10:00 - 18:00 | Пн - Пт</h3>
                    <ul class="full-list">
                        <li>
                            <a href="tel:380670000000">+38 067 000 00 00</a>
                        </li>
                        <li>
                            <a href="tel:380670000000">+38 067 000 00 00</a>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h2 class="sm-title">В офисе</h2>
                    <h3 class="subtitle">10:00 - 18:00 | Пн - Пт</h3>
                    <p>Черкассы, ул. Шевченко 220</p>
                </div>

            </address>
            <div class="xs-66 right-column">
                <h2 class="sm-title">Через сайт</h2>
                <form action="#" class="flex">
                    <div class="xs-40">
                        <div class="form-field">
                            <label class="form-label">Имя</label>
                            <input type="text" placeholder="Ваше имя..." required>
                        </div>
                        <div class="form-field">
                            <label class="form-label">Номер телефона</label>
                            <input type="text" placeholder="Ваш номер телефона..." required>
                        </div>
                        <div class="form-field">
                            <label class="form-label">E-mail (не обязательно)</label>
                            <input type="text" placeholder="Ваш e-mail...">
                        </div>
                    </div>
                    <div class="xs-55 flex">
                        <div class="form-field xs-100">
                            <label class="form-label">Сообщение</label>
                            <textarea name="message" id="message" placeholder="Ваше сообщение..." required></textarea>
                        </div>
                        <div class="form-field xs-100 flex submit">
                            <button type="submit" class="link decor simple-btn">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="map" class="map"></div>
        </div>
    </div>
</main>
<footer class="container flex footer">
    <ul class="list-inline link-list">
        <li>
            <a href="#" class="active">Деревянная мебель</a>
        </li>
        <li>
            <a href="#" class="decor decor--link">Ковка изделий</a>
        </li>
    </ul>
    <ul class="list-inline link-list">
        <li>
            <a href="#" class="active">RU</a>
        </li>
        <li>
            <a href="#" class="decor decor--link">EN</a>
        </li>
    </ul>
    <p class="copyright">2017 Workshop of Nature. All rights reserved.</p>
</footer>
</body>
</html>
