<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Мастерская природы</title>
    <meta content="width=device-width, maximum-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="/img/favicon.jpg">
    <link href="" rel="canonical">
    <meta content="index,follow" name="robots">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
</head>
<body>
<div class="blur-box carpenter-site-main"></div>
<svg style="display:none;">
    <symbol id="arrowLeft" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129">
        <title>Arrow left</title>
        <path d="m88.6 121.3c0.8 0.8 1.8 1.2 2.9 1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8 0l-54 53.9c-1.6 1.6-1.6 4.2 0 5.8l54 53.9z"></path>
    </symbol>
    <symbol id="menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
        <title>Menu icon</title>
        <path d="M604.3 194.7c4.3 0 7.7-3.6 7.7-7.7v-40.2c0-4.3-3.3-7.7-7.7-7.7H7.7c-4.3 0-7.7 3.6-7.7 7.7v40.2c0 4.3 3.3 7.7 7.7 7.7H604.3z"></path>
        <path d="M0 326.1c0 4.3 3.3 7.7 7.7 7.7h596.5c4.3 0 7.7-3.6 7.7-7.7v-40.2c0-4.3-3.3-7.7-7.7-7.7H7.7c-4.3 0-7.7 3.6-7.7 7.7V326.1z"></path>
        <path d="M0 465.2c0 4.3 3.3 7.7 7.7 7.7h596.5c4.3 0 7.7-3.6 7.7-7.7v-40.2c0-4.3-3.3-7.7-7.7-7.7H7.7c-4.3 0-7.7 3.6-7.7 7.7V465.2z"></path>
    </symbol>
    <symbol id="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.2 174.2">
        <path d="M87.1 0C39.1 0 0 39.1 0 87.1s39.1 87.1 87.1 87.1 87.1-39.1 87.1-87.1S135.2 0 87.1 0zM87.1 159.3c-39.8 0-72.2-32.4-72.2-72.2S47.3 14.9 87.1 14.9s72.2 32.4 72.2 72.2S126.9 159.3 87.1 159.3z"></path>
        <path d="M120.8 53.4c-2.9-2.9-7.6-2.9-10.6 0L87.1 76.6 64 53.4c-2.9-2.9-7.6-2.9-10.6 0s-2.9 7.6 0 10.6l23.2 23.2L53.4 110.3c-2.9 2.9-2.9 7.6 0 10.6 1.5 1.5 3.4 2.2 5.3 2.2 1.9 0 3.8-0.7 5.3-2.2L87.1 97.7l23.2 23.2c1.5 1.5 3.4 2.2 5.3 2.2 1.9 0 3.8-0.7 5.3-2.2 2.9-2.9 2.9-7.6 0-10.6L97.7 87.1l23.2-23.2C123.7 61.1 123.7 56.3 120.8 53.4z"></path>
    </symbol>
</svg>
<header class="container flex flex-c header">
    <a href="/" class="logo">Мастерская природы</a>
    <button type="button" class="burger simple-btn">
        <svg height="30" width="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
        </svg>
    </button>
    <nav>
        <a href="/public/view/carpenter/index.html">Главная</a>
        <a href="/public/view/carpenter/about.html" class="active">О нас</a>
        <a href="/public/view/carpenter/items.html">Цех истории</a>
        <a href="/public/view/carpenter/partners.html">Партнеры</a>
        <a href="/public/view/carpenter/galery.html">Гелерея</a>
        <a href="/public/view/carpenter/contacts.html" class="decor decor--link contacts">Контакты</a>
    </nav>
</header>
<div class="shadow"></div>
<div class="modal galery-slider" style="display: none;">
    <button type="button" class="simple-btn close-btn">
        <svg height="30" width="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
        </svg>
    </button>
    <ul class="tab-slider">
        <li class="item flex nowrap flex-c">
            <div class="image xs-60">
                <img src="/public/assets/images/carpenter/item.jpg" alt="Item">
            </div>
            <div class="xs-40 sm-60 item-container">
                <div class="scroll-part flex-c flex">
                    <h2 class="md-title decor decor--md-heading left-column">Натуральный шкаф для спальной</h2>
                    <div class="description right-column">
                        <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера, оформление дизайна интерьера помещений производится "под ключ".</p>
                        <p>Наши специалисты выезжают на место, делают необходимые замеры, выполняют проектирование по Вашим эскизам.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="item flex nowrap flex-c">
            <div class="image xs-60">
                <img src="/public/assets/images/carpenter/item.jpg" alt="Item">
            </div>
            <div class="xs-40 sm-60 item-container">
                <div class="scroll-part flex-c flex">
                    <h2 class="md-title decor decor--md-heading left-column">Натуральный шкаф для спальной</h2>
                    <div class="description right-column">
                        <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера, оформление дизайна интерьера помещений производится "под ключ".</p>
                        <p>Наши специалисты выезжают на место, делают необходимые замеры, выполняют проектирование по Вашим эскизам.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<main class="flex flex-c">
    <div class="tab-container">
        <h1 class="heading heading--margin decor decor--heading">Галерея лучших работ</h1>
        <div class="flex scroll-part nowrap">
            <button type="button" class="menu-opener simple-btn">
                <svg height="30" width="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
            </button>
            <ul class="menu">
                <li>
                    <button type="button" class="simple-btn category">Категория</button>
                    <ul class="subcategory full-list">
                        <li>
                            <a href="#" class="active">Межкомнатные двери</a>
                        </li>
                        <li>
                            <a href="#">Накладки на металические двери</a>
                        </li>
                        <li>
                            <a href="#">Окна, стеклопакеты деревянные</a>
                        </li>
                        <li>
                            <a href="#">Балконные двери</a>
                        </li>
                        <li>
                            <a href="#">Декор из дерева</a>
                        </li>
                        <li>
                            <a href="#">Светильники</a>
                        </li>
                        <li>
                            <a href="#">Лестницы</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="simple-btn category">Категория</button>
                    <ul class="subcategory full-list">
                        <li>
                            <a href="#" class="active">Межкомнатные двери</a>
                        </li>
                        <li>
                            <a href="#">Накладки на металические двери</a>
                        </li>
                        <li>
                            <a href="#">Окна, стеклопакеты деревянные</a>
                        </li>
                        <li>
                            <a href="#">Балконные двери</a>
                        </li>
                        <li>
                            <a href="#">Декор из дерева</a>
                        </li>
                        <li>
                            <a href="#">Светильники</a>
                        </li>
                        <li>
                            <a href="#">Лестницы</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="simple-btn category">Категория</button>
                    <ul class="subcategory full-list">
                        <li>
                            <a href="#" class="active">Межкомнатные двери</a>
                        </li>
                        <li>
                            <a href="#">Накладки на металические двери</a>
                        </li>
                        <li>
                            <a href="#">Окна, стеклопакеты деревянные</a>
                        </li>
                        <li>
                            <a href="#">Балконные двери</a>
                        </li>
                        <li>
                            <a href="#">Декор из дерева</a>
                        </li>
                        <li>
                            <a href="#">Светильники</a>
                        </li>
                        <li>
                            <a href="#">Лестницы</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="colums-container">
                <ul class="columns galery-items">
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item1.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item2.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item3.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item4.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item1.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item2.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item3.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="container flex footer">
    <ul class="list-inline link-list">
        <li>
            <a href="#" class="active">Деревянная мебель</a>
        </li>
        <li>
            <a href="#" class="decor decor--link">Ковка изделий</a>
        </li>
    </ul>
    <ul class="list-inline link-list">
        <li>
            <a href="#" class="active">RU</a>
        </li>
        <li>
            <a href="#" class="decor decor--link">EN</a>
        </li>
    </ul>
    <p class="copyright">2017 Workshop of Nature. All rights reserved.</p>
</footer>

<script src="/public/assets/vendor/jquery/jquery.min.js"></script>
<script src="/public/assets/vendor/slick/slick.min.js"></script>
<script src="/public/assets/js/main.js"></script>

</body>
</html>
