<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sotnikova Design Group | Дизайн интерьера в Черкассах</title>
    <meta content="width=device-width, maximum-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="/img/favicon.jpg">
    <link href="http://deem.com.ua/" rel="canonical">
    <meta content="index,follow" name="robots">

    <meta content="Наша студия реализовала десятки проектов в Черкассах и по Украине. Работаем как с небольшими индивидуальными заказами, так и с большими компаниями." name="description">
    <meta content="Sotnikova Design Group" name="copyright">
    <meta content="Sotnikova Design Group" name="author">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@Sotnikova" name="twitter:site">
    <meta content="http://deem.com.ua/" name="twitter:url">
    <meta content="Sotnikova Design Group" name="twitter:title">
    <meta content="Наша студия реализовала десятки проектов в Черкассах и по Украине. Работаем как с небольшими индивидуальными заказами, так и с большими компаниями." name="twitter:description">
    <meta content="/img/homepage_bg.jpg" name="twitter:image">
    <meta content="https://www.facebook.com/" property="article:author">

    <meta content="http://deem.com.ua/" property="og:url">
    <meta content="article" property="og:type">
    <meta content="Sotnikova Design Group" property="og:title">
    <meta content="Наша студия реализовала десятки проектов в Черкассах и по Украине. Работаем как с небольшими индивидуальными заказами, так и с большими компаниями.." property="og:description">
    <meta content="/img/homepage_bg.jpg" property="og:image">

    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
</head>
<body class="carpenter-site-main">
<header class="container flex flex-c header">
    <a href="/" class="logo">Мастерская природы</a>
    <nav>
        <a href="/public/view/carpenter/index.html">Главная</a>
        <a href="/public/view/carpenter/about.html" class="active">О нас</a>
        <a href="/public/view/carpenter/items.html">Цех истории</a>
        <a href="/public/view/carpenter/partners.html">Партнеры</a>
        <a href="/public/view/carpenter/galery.html">Гелерея</a>
        <a href="/public/view/carpenter/contacts.html" class="decor decor--link contacts">Контакты</a>
    </nav>
</header>
<main class="flex flex-c">
    <div class="tab-container">
        <h1 class="heading heading--margin decor decor--heading">Галерея лучших работ</h1>
        <div class="flex scroll-part nowrap">
            <ul class="menu">
                <li>
                    <button type="button" class="simple-btn category">Категория</button>
                    <ul class="subcategory full-list">
                        <li>
                            <a href="#" class="active">Межкомнатные двери</a>
                        </li>
                        <li>
                            <a href="#">Накладки на металические двери</a>
                        </li>
                        <li>
                            <a href="#">Окна, стеклопакеты деревянные</a>
                        </li>
                        <li>
                            <a href="#">Балконные двери</a>
                        </li>
                        <li>
                            <a href="#">Декор из дерева</a>
                        </li>
                        <li>
                            <a href="#">Светильники</a>
                        </li>
                        <li>
                            <a href="#">Лестницы</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="simple-btn category">Категория</button>
                    <ul class="subcategory full-list">
                        <li>
                            <a href="#" class="active">Межкомнатные двери</a>
                        </li>
                        <li>
                            <a href="#">Накладки на металические двери</a>
                        </li>
                        <li>
                            <a href="#">Окна, стеклопакеты деревянные</a>
                        </li>
                        <li>
                            <a href="#">Балконные двери</a>
                        </li>
                        <li>
                            <a href="#">Декор из дерева</a>
                        </li>
                        <li>
                            <a href="#">Светильники</a>
                        </li>
                        <li>
                            <a href="#">Лестницы</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="simple-btn category">Категория</button>
                    <ul class="subcategory full-list">
                        <li>
                            <a href="#" class="active">Межкомнатные двери</a>
                        </li>
                        <li>
                            <a href="#">Накладки на металические двери</a>
                        </li>
                        <li>
                            <a href="#">Окна, стеклопакеты деревянные</a>
                        </li>
                        <li>
                            <a href="#">Балконные двери</a>
                        </li>
                        <li>
                            <a href="#">Декор из дерева</a>
                        </li>
                        <li>
                            <a href="#">Светильники</a>
                        </li>
                        <li>
                            <a href="#">Лестницы</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="colums-container">
                <ul class="columns">
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item1.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item2.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item3.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item4.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item1.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item2.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-image">
                            <img src="/public/assets/images/carpenter/item3.jpg" alt="Item">
                        </div>
                        <div class="body">
                            <h2 class="md-title">Дверь</h2>
                            <p>Изготовление столярных изделий: дверей, окон, лестниц, предметов интерьера.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="container flex footer">
    <ul class="list-inline link-list">
        <li>
            <a href="#" class="active">Деревянная мебель</a>
        </li>
        <li>
            <a href="#" class="decor decor--link">Ковка изделий</a>
        </li>
    </ul>
    <ul class="list-inline link-list">
        <li>
            <a href="#" class="active">RU</a>
        </li>
        <li>
            <a href="#" class="decor decor--link">EN</a>
        </li>
    </ul>
    <p class="copyright">2017 Workshop of Nature. All rights reserved.</p>
</footer>

<script src="/public/assets/vendor/jquery/jquery.min.js"></script>
<script src="/public/assets/vendor/slick/slick.min.js"></script>
<script src="/public/assets/js/main.js"></script>

</body>
</html>
