.statistic {
  margin-bottom: 25px;

  li {
    text-align: center;
    padding: 0 5px;
    font-size: 16px;

    span {
      display: block;
      font: bold 50px $secondary-font;
      color: $main-color;
    }
  }
}

@media all and (max-width: 767px) {
  .statistic {
    li {
      span {
        font-size: 30px;
      }
    }
  }
}