.menu {
  width: 150px;
  margin-right: 30px;

  li:first-child {
    .subcategory {
      display: block;
    }
  }

  $margin-bottom: 20px;

  .category {
    color: $main-color;
    font-size: 20px;
    padding: 0;
    margin-bottom: $margin-bottom;
    font-weight: bold;
    cursor: pointer;
  }

  .subcategory {
    margin-bottom: $margin-bottom;
    display: none;

    li {
      margin-bottom: $margin-bottom;
    }

    a {
      font-size: 14px;
      padding-left: 20px;
      transition: .3s all;

      &.active, &:hover, &:focus {
        @extend .decor;

        $width: 10px;

        &:before {
          width: $width;
          left: 0;
        }
      }

      &.active {
        color: $main-color;
      }
    }
  }
}

.menu-opener {
  display: none;
}

.colums-container {
  width: calc(100% - 180px);
}

@media all and (max-width: 991px) {
  .colums-container {
    .columns {
      column-gap: 30px;
      column-count: 2;
    }
  }
}

@media all and (max-width: 767px) {
  .menu-opener {
    display: block;
    fill: $main-color;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }

  .colums-container {
    width: 100%;
    padding-top: 50px;

    .columns {
      padding: 0;
    }
  }
  .menu {
    position: absolute;
    padding: 40px 10px 10px 0;
    background: #f4f4f4;
    z-index: 1;
    display: none;

    .subcategory {
      a {
        padding-left: 0;

        &.active, &:hover, &:focus {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}

@media all and (max-width: 599px) {
  .colums-container {
    .columns {
      column-count: 1;
    }
  }
}