.dashboard {
  background: url(../images/main_page_bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  text-align: center;

  header {
    padding: 90px 10px 30px;
    max-height: 275px;
  }

  main {
    height: calc(100% - 315px);
    justify-content: center;
  }

  .heading {
    color: #272727;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .subheading {
    $width: 60px;
    display: inline-block;

    color: #272727;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 0 ($width + 30px);

    &:before, &:after {
      content: '';
      position: absolute;
      width: $width;
      height: 2px;
      display: block;
      background: #272727;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      right: 0;
    }

    &:before {
      left: 0;
    }
  }

  .dashboard-list {
    position: relative;
    justify-content: center;

    li {
      width: 40%;
      display: block;
      transition: .6s;
      padding: 0 10px;

      &:hover, &:focus {
        transform: scale(1.55);
      }
    }
  }
}

.main-page {
  .description {
    max-width: 550px;
    width: 95%;

    p {
      font-size: 15px;
    }
  }
}

@media all and (max-height: 767px), all and (max-width: 767px) {
  .dashboard {
    header {
      padding: 20px 10px;
    }

    .heading {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .subheading {
      padding: 0 65px;
      font-size: 12px;
    }

    .dashboard-list {
      li {
        &:hover, &:focus {
          transform: scale(1.2);
        }
      }
    }

    main {
      height: calc(100% - 165px);
    }

    .footer {
      padding: 20px 10px;
    }
  }
}

@media all and (max-width: 599px) {
  .dashboard {
    .dashboard-list {
      li {
        width: 280px;

        &:hover, &:focus {
          transform: scale(1.1);
        }
      }
    }
  }
}